---
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Card title="Titulo 1" text="Texto 1" />
    <Card title="Titulo 2" text="Texto 2" />
    <Card title="Titulo 3" text="Texto 3" />
    <Card title="Titulo 4" text="Texto 4" />
  </body>
</html>
